In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import OneHotEncoder, RobustScaler
from sklearn.metrics import mean_squared_error, r2_score
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv("/content/movie_metadata-2.csv")
df.drop(columns = "color", inplace = True)
df.shape

(5043, 27)

In [ ]:
df.drop_duplicates(inplace = True)

In [ ]:
df.shape

(4998, 27)

In [ ]:
df.isnull().sum()

director_name                103
num_critic_for_reviews        49
duration                      15
director_facebook_likes      103
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        874
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                152
movie_imdb_link                0
num_user_for_reviews          21
language                      14
country                        5
content_rating               301
budget                       487
title_year                   107
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 327
movie_facebook_likes           0
dtype: int64

PROBLEMA:

In [ ]:
proporcion_budget = df["budget"].isnull().sum() / df.shape[0]
print("El porcentaje de nulos de budget es de", proporcion_budget*100)

proporcion_gross = df["gross"].isnull().sum() / df.shape[0]
print("El porcentaje de nulos de gross es de", proporcion_gross*100)

El porcentaje de nulos de budget es de 9.74389755902361
El porcentaje de nulos de gross es de 17.486994797919166